#titolo {
    color: red;
    font-weight: bold;
    font-size: 50px;
    width:auto;
    height: 100px;
    margin:0 auto;
    text-align: center;
    background-color: coral;
    margin-top: 30px;
}  
 
#griglia1 {
    margin-top: 30px;
    width:auto;
    background-color: rgba(255, 127, 80, 0.568);
    height: 50px;
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#griglia2 {
    width:auto;
    background-color: rgba(255, 127, 80, 0.568);
    height: 50px;
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#carousel img {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container {
    color:red;
}